/**************** notes *****************

*** colors *******************************
#007d7b
#000000
#ffffff
********************************************

*** Typography ********************************
Arial, Helvetica, sans-serif

p {font-size: 1.25em;}
figcaption, label, input, small {font-size: 1em;}
nav a {font-size: 1.5em;}
h1 {font-size: 3em;}
h2 {font-size: 2em;}
**************************************************

*** mobile **********************************
485px
single column layout
*********************************************

*** middle *********************************
880px
content justified center
2 column layout
**************************************************

*** large **************************************
1300px
content justified right
3 column layout
***********************************************/